.wrapContent {
}
/*  */

.topHeader {
  display: flex;
  height: 200px;
}
.logo {
  padding: 50px;
}
.phone {
}
.btnCall {
  color: red;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid green;
}

/*  */
.centerHeader {
}
/*  */
.bottomHeader {
}
