.wrapPlaningAndDocument {
  background: linear-gradient(
      180deg,
      rgba(22, 27, 33, 0) 81.93%,
      #161b21 99.94%
    ),
    url(../assets/image/sales-bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 75%;
  background-color: #161b21;
}
