@import '../../assets/styles/variables.scss';

.wpapGallary {
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  position: relative;
}
.leftBar {
  width: 20%;
}
.carousel {
  height: 90%;
}

.carouselImg {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.thumbnails {
  position: absolute;
  bottom: 0;
  right: 0;
}
.thumbnails li button {
  padding: 0 !important;
  margin-right: 10px;
}
.thumbnails li button img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.dots {
  position: absolute;
  bottom: 16px;
  left: 80px;
  z-index: 1;
}
.dots li button {
  background-color: transparent;
}
.dots li button::before {
  background: $dark-yellow !important;
}

.wrapControls {
  position: absolute;
  bottom: 0;
  width: 520px;
  height: 100px;
  background-color: #fdfbfb;
}

.switchBtn {
  border: none;
  outline: none;
  width: 50%;
  height: 44px;
  padding: 10px 0;
  background-color: #f1f1f1;
  font-size: 10px;
  font-weight: bold;
}
.active {
  background-color: transparent;
  color: $dark-yellow;
}

.wrapArrows {
  display: flex;
  padding: 12px 0 0 305px;
}
.wrapArrows svg {
  margin: 10px;
  fill: #757575;
}
.wrapArrows svg path {
  stroke: #757575;
}
